@import url(../Variables.css);

/* Footer */
footer {
  background-color: var(--Color-1);
  color: var(--White);
  padding: 50px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--White);
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 50px;
  font-size: 0.8rem;
}
