@import url(../../../Resources/Variables.css);

body {
  background-color: var(--Light-Red);
  margin: auto 70px;
}

#Logo {
  max-width: 200px;
  margin: 4rem auto;
  border-radius: 50%;
}

#header-and-details {
  display: grid;
  grid-template-columns: repeat(1, 1);
}

#header-and-details form {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  max-width: 55ch;
}

#email {
  border-style: none;
  background-color: var(--Black);
  padding: 0.5rem;
  border-radius: 5px;
}

#password {
  border-style: none;
  background-color: var(--Black);
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--Light-Red);
}

#header-and-details form button {
  background-color: var(--Black);
  border-style: none;
  color: var(--Light-Red);
  font-size: 1.25rem;
  font-family: "Tac One";
  height: 2rem;
  border-radius: 5px;
}

#header-and-details div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
}

#header-and-details div p {
  margin: auto auto;
  margin-top: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

#header-and-details div p a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--Black);
  padding: 0.3rem;
  border-radius: 5px;
  color: var(--Light-Grey-1);
  margin-left: 1ch;
  font-weight: 1;
  font-size: 0.9rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  color: var(--White);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.error {
  color: var(--Light-Red);
  font-size: 0.8em;
}
