@import url(../../../Resources/Variables.css);

body {
  background-color: var(--Light-Black);
  margin: auto 70px;
}

.header-and-details {
  display: grid;
  grid-template-columns: repeat(1, 1);
}

.header {
  font-family: "Freeman", "Noto sans", sans-serif;
  font-size: 2rem;
  color: var(--Color-2);
}

.log-in-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 55ch;
}

#email,
#password {
  border-style: none;
  background-color: var(--Black);
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 30px;
}

.log-in-button {
  background-color: var(--Color-2);
  border-style: none;
  color: var(--Light-Red);
  font-size: 1rem;
  font-family: "Noto sans", sans-serif;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.sign-up-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
}

.sign-up-link-container p {
  margin: auto auto;
  margin-top: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.sign-up-link-container p a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--Black);
  padding: 0.3rem;
  border-radius: 5px;
  color: var(--Light-Grey-1);
  margin-left: 1ch;
  font-weight: 1;
  font-size: 0.9rem;
}

input[type="email"],
input[type="password"],
textarea {
  color: var(--White);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.error {
  color: var(--Light-Red);
  font-size: 0.8em;
}
