/* -------------Variables------------- */
:root {
  --White: rgb(255, 255, 255);
  --Light-Grey-1: rgb(248, 245, 245);
  --Light-Grey-2: rgb(222, 222, 222);
  --Dark-Grey: rgb(57, 57, 57);
  --Light-Black: rgb(29, 29, 29);
  --Black: rgb(0, 0, 0);

  --Color-1: rgb(51, 88, 48);
  --Color-2: rgb(79, 158, 72);
  --Color-3: rgb(131, 212, 99);
  --Color-4: rgb(190, 248, 166);
}
