@import url(../../../Resources/CSS/Variables.css);

/* *-------------Body------------- */
body {
  background-color: var(--Light-Grey-1);
  font-family: sans-serif;
  margin: 60px 30px;
  padding-top: 0px;
}

/* Dark Mode */
.dark-mode {
  background-color: var(--Light-Black);
  color: var(--White);
  font-family: sans-serif;
  margin: 60px 30px;
  padding-top: 0px;
}

.dark-mode body {
  margin-top: 50px;
}

.dark-mode .introduction-container,
.dark-mode .conclusion-container {
  color: var(--Black);
}

/* *-------------Nav Bar------------- */
#nav-bar-container {
  margin: 0;
  font-family: "Tac One";
}

#nav-bar {
  background-color: var(--Color-1);
  color: var(--Black);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: fit-content;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}

#Nav-bar-logo {
  font-size: xxx-large;
}

.logo {
  font-size: 24px;
  margin: 0px 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav ul {
  font-size: x-large;
  list-style-type: none;
  margin: 0 50px;
  padding: 0;
  display: flex;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: var(--Black);
}

.nav ul li a:hover {
  color: white;
}

/* Dark Mode Toggle Button */
.mode-toggle button {
  background-color: var(--Light-Black);
  color: var(--White);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.mode-toggle button:hover {
  background-color: var(--Light-Black);
  color: var(--Color-1);
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 50px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: var(--Black);
  margin: 3px 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* Smaller Screens */
@media screen and (max-width: 788px) {
  #Nav-bar-logo {
    margin-left: 10px;
  }

  #nav-bar {
    padding: 10px;
  }

  .nav {
    flex-direction: column;
    background-color: var(--Color-1);
    padding: 20px;
    position: absolute;
    top: 70px;
    left: -1000%;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    transition: all 0.3s ease;
    align-content: left;
    justify-content: left;
  }

  .nav.nav-active {
    left: 0;
  }

  .nav ul {
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 0;
  }

  .nav ul li {
    margin: 10px 0px;
    padding-left: 10px 0;
    width: 100%;
  }

  .burger {
    display: flex;
  }

  .overlay {
    display: block;
  }
}

/* *-------------Article------------- */

#Article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: auto auto;
}

#Article-header {
  display: block;
  margin: auto;
}

#Introduction {
  background-color: var(--Color-2);
  padding: 1em;
  border-radius: 10px;
  max-width: 60ch;
  margin: auto;
}

.introduction-container {
  text-align: justify;
  display: block;
  max-width: 60ch;
}

/* Line Breaks */
.hr-1 {
  border-style: solid;
  opacity: 60%;
  margin: 50px 25px;
}

.hr-2 {
  border-style: solid;
  opacity: 0%;
  margin: 50px 25px;
}

.transparent-hr-1 {
  opacity: 0%;
}

.transparent-hr-2 {
  height: 30px;
  opacity: 0%;
}

/* Screens */
@media screen and (min-width: 1000px) {
  /*Bigger Screen*/
  .introduction-container {
    grid-template-rows: (1, 1fr);
  }
}

@media screen and (max-width: 813px) {
  /*Smaller Screen*/
  .introduction-container {
    display: block;
  }
}

.recipe-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  background-color: var(--Dark-Grey);
  padding: 0.5rem;
  border-radius: 20px;
}

@media screen and (max-width: 960px) {
  .recipe-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .images {
    min-height: 200px;
  }
}

.recipe-grid-item {
  padding: 0px;
  flex-grow: 1;
  flex: 1;
  height: auto;
}

.recipe-info,
.ingredients,
.method {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1em;
  margin: 0px;
  border-radius: 10px;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--Black);
  background-color: var(--Light-Grey-2);
  border-color: var(--Light-Grey-2);
}

.recipe-info h2 {
  margin: 0px 0px;
  margin-top: 10px;
}

.recipe-info p {
  margin: 10px 0px;
}

.save-button {
  font-family: "Tac One";
  font-size: x-large;

  background-color: var(--Color-1);
  height: 2rem;
  width: 100%;
  border-style: none;
  border-radius: 0.5rem;
}

.save-button a {
  color: var(--White);
  text-decoration: none;
}

.full-ingredients-button {
  font-family: "Tac One";
  font-size: 1.5rem;

  background-color: var(--Color-1);
  height: 2rem;
  width: 100%;
  border-style: none;
  border-radius: 0.5rem;
}

.full-ingredients-button a {
  color: var(--White);
  text-decoration: none;
}

.images {
  border-radius: 10px;
  object-fit: cover;

  height: 100%;
  width: 100%;
  margin: 0px 0px;
  max-height: 300px;
  aspect-ratio: 16.9;
}

.ingredients {
  color: var(--Black);
  background-color: var(--Color-2);
  border-color: var(--Color-2);
}

.ingredients h2,
.ingredients h3,
.ingredients p {
  margin: 0px 0px;
}

.method {
  color: rgb(0, 0, 0);
  background-color: var(--Color-1);
  border-color: var(--Color-1);
}
.method h2,
.method h3,
.method p {
  margin: 0px 0px;
}

#Conclusion {
  background-color: var(--Color-2);
  border-color: var(--Color-2);
  border-style: solid;
  border-radius: 10px;
  padding: 1rem;
}

.conclusion-container {
  display: block;
}
