@import url(../../../Resources/Variables.css);

::-webkit-scrollbar {
  width: 0;
}

/* *-------------Body---------------------------------------------------------------------- */
body {
  background-color: var(--Light-Grey-1);
  font-family: "Noto sans", sans-serif;
  margin: 60px 30px;
  padding-top: 0px;
}

/* *-------------Top Bar------------------------------------------------------------------- */
.top-bar-container {
  margin: 0;
  font-family: "Noto sans";
}

.top-bar {
  background-color: var(--Light-Grey-2);
  color: var(--Black);
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: max-content;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  z-index: 999;
  transition: all 0.3s ease;
}

.left-section {
  display: flex;
}

.logo-container {
  margin-left: 15px;
  padding: 0px;
  height: max-content;
}

.logo a {
  text-decoration: none;
  font-family: "Freeman", "Noto sans", sans-serif;
  font-size: 2rem;
  color: var(--Color-1);
}

.top-bar-search-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  position: absolute;
  left: 49.5%;
  transform: translateX(-50%);
  background-color: var(--Light-Grey-1);
  padding: 5px 10px;
  border-radius: 100px;
  width: fit-content;
  height: 2rem;
}

.top-bar-search-container div {
  display: flex;
}

.top-bar-search-container div span svg {
  position: relative;
  top: 1.75px;
  padding: 0px 5px;
  fill: var(--Dark-Grey-1);
}

.top-bar-search-container div div {
  padding: 0px 5px;
}

.top-bar-search-input {
  display: flex;
  background: none;
  border: none;
  outline: none;
  font-size: 0.95rem;
  /* background-color: var(--Light-Black); */
}

.top-bar-search-input::placeholder {
  color: var(--Dark-Grey-1);
}

.top-bar-search-input:focus::placeholder {
  color: transparent;
}

.top-bar-right-buttons div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--Black); */
}

.top-bar-upload-button {
  display: flex;
  width: fit-content;
}

.top-bar-profile-button button,
.top-bar-upload-button button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.top-bar-upload-button button svg,
.top-bar-profile-button button svg {
  width: 22px;
  height: 22px;
}

/** Dark Mode Toggle Button---------------------------------- */
.mode-toggle button {
  background-color: transparent;
  color: var(--Light-Black);
  border: none;

  padding: 0px;
  width: 30px;
  height: 30px;

  padding: 5px 7px;
  padding-bottom: 0.2em;
  padding-right: 0.35em;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 20px;
}

.mode-toggle button:hover {
  /*Light mode hover*/
  fill: var(--Color-1);
}

/** Settings button */
.settings-button button {
  background-color: transparent;
  color: var(--Light-Black);
  border: none;

  padding: 0px;
  width: 30px;
  height: 30px;

  padding: 4.85px 5px;
  /* padding-bottom: 10px; */

  border-radius: 50%;
  cursor: pointer;
}

.settings-button button:hover {
  /*Light mode hover*/
  fill: var(--Color-1);
}

/** Sidebar ------------------------------------------------------------------------------*/
/* Burger Menu styles */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: var(--White);
  margin: 3px 0;
}

/* Sidebar styles */
.side-bar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: var(--Light-Black);
  padding-top: 20px;
  transition: left 0.3s;
  z-index: 999;
}

.side-bar-header {
  padding: 15px;
  text-align: center;
  background-color: var(--Light-Black);
}

.side-bar-header h2 {
  color: var(--White);
  margin: 0;
}

.side-bar-nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  padding: 10px 15px;
  text-align: left;
}

.nav-item a {
  color: #d9d9d9;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.nav-item a:hover,
.nav-item a.active {
  color: #f1faee;
  background-color: #3a606e;
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  .overlay {
    display: block;
  }

  .bottom-nav {
    display: flex; /* Display the nav bar on small screens */
  }

  .burger {
    display: flex;
  }

  .sidebar {
    width: 100%;
    left: -100%;
  }

  .sidebar-nav {
    flex-direction: column;
  }
}

/** Bottom nav bar -----------------------------------------------------------------------*/
.bottom-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--Light-Grey-2);
  z-index: 999;
}

.bottom-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.bottom-nav-item svg {
  color: var(--Black);
  transition: color 0.1s ease;
}

.bottom-nav-item:hover svg {
  color: var(--Color-1);
}

.bottom-nav-item.active svg {
  color: var(--Color-2);
}

.bottom-nav-item span svg {
  width: 22px;
  height: 22px;
}

.bottom-nav-home span svg {
  width: 24px;
  height: 24px;
}

.bottom-nav-library span svg {
  position: relative;
  top: 2px;
  width: 23px;
  height: 23px;
}

.nav ul li a:hover,
.mode-toggle button:hover,
.dark-mode .mode-toggle button:hover,
.settings-button button:hover,
.dark-mode .settings-button button:hover {
  transition: color 0.5s;
}

/* *-------------Article-------------------------------------------------------------------- */

#Article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
}

#Above-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  max-width: 600px;
}

#User-published {
  display: inline-flex;
  gap: 20px;
  align-items: center;
}

#User-icon {
  max-height: 2rem;
  fill: var(--Black);
}

#Article-header {
  display: block;
  margin: auto;
}

#Article-header h3 {
  margin: 0px 0px;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  opacity: 90%;
}

#Introduction {
  border-radius: 10px;
  max-width: 100%;
  max-width: max-content;
  font-size: 0.9rem;
  opacity: 80%;
}

.introduction-container {
  display: block;
  max-width: 60ch;
  margin: auto;
}

/** Line Breaks----------------- */
.hr-1 {
  border-style: solid;
  opacity: 60%;
  margin: 25px;
  margin-left: 10px;
  max-width: 540px;
}

.hr-2 {
  border-style: solid;
  opacity: 0%;
  margin: 25px;
}

.transparent-hr-1 {
  height: 1rem;
  opacity: 0%;
}

.transparent-hr-2 {
  height: 3rem;
  opacity: 0%;
}

/** Article Body-------------------------------------------------- */
.recipe-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 0.5rem;
  background-color: var(--Light-Grey-2);
  padding: 0.5rem;
  border-radius: 20px;
}

.recipe-grid-item {
  display: flex;
  height: auto;
  width: 100%;
}

.recipe-info,
.ingredients,
.method {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  padding: 1em;
  margin: 0px;
  border-radius: 10px;
  width: 100%;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--Black);
  padding: 0%;
  position: relative;
}

.recipe-info-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.recipe-info-header h2 {
  margin-right: 70px;
}

.recipe-info-header h2 b {
  color: var(--Color-1);
}

.recipe-info-header h2,
.recipe-info div p {
  padding: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
}

.recipe-info div div p {
  text-align: justify;
}

.images {
  border-radius: 10px;
  object-fit: cover;

  height: 100%;
  width: 100%;
  margin: 0px 0px;
  max-height: 300px;
  aspect-ratio: 16.9;
}

.ingredients {
  color: var(--Black);
  background-color: var(--Color-2);
}

.method {
  color: rgb(0, 0, 0);
  background-color: var(--Color-3);
}

#Conclusion {
  background-color: var(--Color-4);
  border-radius: 10px;
  padding: 1em;
  max-width: fit-content;
}

.conclusion-container {
  display: block;
}

.conclusion-container div {
  width: fit-content;
  max-width: 60ch;
}

.conclusion-container p {
  color: var(--Black);
  text-wrap: wrap;
}

/**Buttons--------------------------------------*/
/*Post buttons----------------*/
.post-buttons-container-parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  margin: 25px 0px;
  width: max-content;
}

.post-buttons-container {
  height: 30px;
  width: 30px;
  background-color: var(--Light-Grey-2);
  border-radius: 0.5rem;
  padding: 5px;
  position: relative;
}

.star-rating-container {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  max-height: 40px;
}

.rating {
  margin-top: -5px;
  display: flex;
  flex-direction: row-reverse;
}

.rating span {
  font-size: 2.25rem;
  cursor: pointer;
  color: var(--Dark-Grey-1);
  transition: color 0.1s;
}

.rating span:hover {
  color: var(--Color-2);
}

.rating span:hover ~ span {
  color: var(--Color-2);
}

.save-collection-button {
  position: relative;
  top: 4px;
  left: 2px;
  height: 22px;
}

.share-button {
  position: relative;
  top: 4px;
  left: 3.5px;
  height: 22px;
  width: 22px;
}

.post-button {
  fill: var(--Black);
  transition: 0.1s ease;
}

.post-button:hover {
  fill: var(--Color-2);
}

/**Recipe save button*/
.recipe-save-button {
  max-width: fit-content;
  background-color: var(--Light-Grey-2);
  border-radius: 0.5rem;
  border-style: none;
  padding: 5px;
  position: relative;
  margin-right: 19px;
  cursor: pointer;
}

.recipe-save-button a svg {
  height: 22px;
  margin: 2px;
  margin-bottom: -2px;
  fill: var(--Black);
  transition: 0.1s ease;
}

.recipe-save-button:hover a svg {
  fill: var(--Color-2);
}

#Improve-this-page p a {
  text-decoration: none;
  background-color: var(--Light-Grey-2);
  color: var(--Black);
  padding: 2px 5px;
  border-radius: 0.25rem;
  margin-left: 5px;
}

#Improve-this-page p a:hover {
  background-color: var(--Color-4);
}

/** Screens-------------------------------------------------------------------------------*/
@media screen and (max-width: 670px) {
  /** Mobile Screen */
  #Article {
    max-width: fit-content;
  }

  .images {
    min-height: 200px;
  }

  .top-bar-right-buttons {
    display: none;
  }

  .bottom-nav {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  /** Medium Screen */
  #Article {
    max-width: 1000px;
  }

  .introduction-container {
    grid-template-rows: (1, 1fr);
  }

  .recipe-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1700px) {
  /** Desktop Screen */

  .recipe-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/** Dark Mode-------------------------------------------------------- */
.dark-mode {
  background-color: var(--Light-Black);
  color: var(--White);
}

.dark-mode body {
  margin-top: 50px;
}

.dark-mode .top-bar {
  background-color: var(--Dark-Grey-2);
}

.dark-mode .logo a {
  /*Top bar logo color ------------------------------*/
  color: var(--Light-Grey-1);
}

.dark-mode .top-bar-search-container {
  /*Top bar search container color ------------------*/
  background-color: var(--Dark-Grey-1);
}

.dark-mode .top-bar-search-container div span svg {
  /*Top bar search icon color*/
  fill: var(--Light-Grey-2);
}

.dark-mode .top-bar-search-input {
  /*Top bar search text input color -----------------*/
  color: var(--White);
}

.dark-mode .top-bar-search-input::placeholder {
  color: var(--Light-Grey-2);
}

.dark-mode .top-bar-upload-button button svg,
.dark-mode .top-bar-profile-button button svg {
  fill: var(--Light-Grey-1);
}

.dark-mode .mode-toggle button svg,
.dark-mode .settings-button button svg {
  fill: var(--Light-Grey-1);
}

.dark-mode nav ul li a {
  color: var(--Light-Grey-1);
}

.dark-mode .introduction-container,
.dark-mode .conclusion-container {
  color: var(--White);
}

.dark-mode #User-icon {
  fill: var(--Color-3);
}

.dark-mode .recipe-grid-container {
  background-color: var(--Dark-Grey-1);
}

.dark-mode .recipe-info {
  color: var(--White);
}

.dark-mode .recipe-info h2 b {
  color: var(--Color-3);
}

/**Dark mode buttons-----------------------------*/
/*Dark mode post buttons----------------*/
.dark-mode .post-buttons-container {
  background-color: var(--Dark-Grey-1);
}

.dark-mode .post-button {
  fill: var(--Color-3);
}

.dark-mode .post-button:hover {
  fill: var(--White);
}

/*Dark mode save recipe buttons*/
.dark-mode .recipe-save-button {
  background-color: var(--Dark-Grey-1);
}

.dark-mode .recipe-save-button a svg {
  fill: var(--Color-3);
}

.dark-mode .recipe-save-button:hover a svg {
  fill: var(--White);
}

/**Dark mode bottom nav bar----------------------*/
.dark-mode .bottom-nav {
  background-color: var(--Dark-Grey-2);
}

.dark-mode .bottom-nav-item span svg {
  color: var(--White);
}

.dark-mode .bottom-nav-item:hover svg {
  color: var(--Color-4);
}

.dark-mode .bottom-nav-item.active svg {
  color: var(--Color-3);
}
